.panel {
  display: flex;
  flex-direction: column;
  background-color: #444444;
  padding: 0.5em;
  flex-grow: 1;
  max-width: 50%;
  min-width: 33.333%;
  border-color: #333;
  border-style: solid;
  border-width: 0 1px 1px 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 0.25em;
  margin: -0.5rem -0.5rem 0;
  background: linear-gradient(180deg, #555555 0%, #444444 50%);
  padding: 0.25em;
  font-size: 80%;
  font-weight: bold;
  border-top: 1px solid #333;
}

.body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #000000;
}
