.practice {
  display: flex;
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .practice {
    padding: 5vh 5vw;
  }
}
