rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }

    match /users/{userId}/{allPaths=**} {
      allow read: if userId == request.auth.uid;
    }

    match /users/{userId} {
      match /songs/{songId} {
        match /parts/{partId} {
          allow write: if userId == request.auth.uid
            && request.resource.size < 8 * 1024 * 1024
            && request.resource.contentType.matches('audio/.*');
        }
      }
    }
  }
}
