.addSong {
  filter: grayscale(100%);
}

.addSong:focus-within, .addSong:hover {
  filter: grayscale(0%);
}

.addSong .icon {
  cursor: pointer;
}

.addSong .title {
  padding: 0 0.25rem 0 0;
  margin: 0;
}

.addSong .input {
  font-size: inherit;
  background: rgba(255, 255, 255, .075);
  border-radius: 5px;
  padding: 0.25rem .5rem;
  border: none;
  width: 100%;
}

.addSong:focus-within .input, .addSong:hover .input {
  filter: grayscale(0%);
  background: rgba(255, 255, 255, .1);
}
