.song {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  padding: 0.25rem;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(204, 204, 204, 0.15);
  text-decoration: none;
  color: inherit;
}

.song.selected {
  color: #ff9640;
  font-weight: bold;
  border: 1px solid rgba(255, 150, 64, 0.29);
}

.song > * {
  padding: 0.25rem;
  flex-grow: 1;
}

.song > .icon {
  flex-grow: 0;
  width: 32px;
  padding: 0;
  text-align: center;
  transition: opacity 0.15s ease-in-out, filter 0.15s ease-in-out;
}

.song:not(:hover):not(.selected) > .icon {
  filter: grayscale(100%);
}

.song:not(:hover) > .icon.delete {
  opacity: 0;
}

.song .title {
  padding: 0.25rem 0.5rem;
}
