.part {
  display: table-row;
  border: 1px solid transparent;
  text-decoration: none;
  color: inherit;
}

.part > span {
  display: table-cell;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(204, 204, 204, 0.25);
  border-right: 1px solid rgba(204, 204, 204, 0.25);
  text-align: center;
}

.part.selected > span {
  color: #ff9640;
  border-color: rgba(255, 150, 64, 0.29);
}

.part .title {
  text-align: left;
}
